* {
  font-family: "Prata", serif;
  box-sizing: content-box;
}

section {
  position: relative;
  top: -111px;
  left: 0px;
}

body {
  background-image: url(img/body.png);
  padding: 0;
  margin: 10px 0;
}

.contenedorglobal {
  max-width: 1224px;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 20px;
}

nav {
  background-image: url(img/Header2.jpg);
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  height: 405px;
  padding-top: 10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

/* Redes header  */

.contacto {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-direction: row;
}
/* Instagram  */
.contacto__insta {
  position: relative;
  margin: 20px;
}

.contacto__insta--page {
  position: absolute;
  border-radius: 20px;
  top: 0;
  left: 0;
  width: 260px;
  height: 48px;
  background-color: #aaa;
  opacity: 0;
  transition: opacity 0.6s;
}

.contacto__insta--page img {
  float: left;
  margin-right: 10px;
  display: inline-block;
}

.contacto__insta--page p {
  color: white;
  font-size: 18px;
  font-weight: 800;
  margin-top: 12px;
  display: inline-block;
}
.contacto__insta--page a {
  text-decoration: none;
}
.contacto__insta--page:hover {
  opacity: 1;
}

/* whatsapp  */

.contacto__wsp {
  position: relative;
  margin: 20px;
}

.contacto__wsp--num {
  position: absolute;
  border-radius: 20px;
  top: 0;
  right: 0;
  width: 260px;
  height: 48px;
  background-color: #aaa;
  opacity: 0;
  transition: opacity 0.6s;
}

.contacto__wsp--num img {
  float: right;
  margin-left: 10px;
}

.contacto__wsp--num p {
  color: white;
  font-size: 18px;
  font-weight: 800;
  margin-top: 12px;
  margin-left: 50px;
  float: left;
}

.contacto__wsp--num:hover {
  opacity: 1;
}

/* -------------------------------------------- */
/* Logo  */
.logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.logoimg {
  flex-basis: 370px;
  flex-shrink: 0;
  height: 298px;
  position: relative;
  top: -50px;
  left: 12px;
}

.ulnav {
  flex-grow: 1;
}

.ulnav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  padding-bottom: 130px;
}

.logo ul li a {
  font-size: 28px;
  color: black;
  text-decoration: none;
  font-weight: 700;
}

/* .logo ul {
  list-style: none;
  display: flex;
  justify-content: start;
}

.ulnav1 {
  padding-left: 20px;
  padding-top: 40px;
  width: 28%;
  flex-grow: 1;
  height: 200px;
}

.limite_logo {
  width: 435px;
  height: 435px;
  display: inline-block;
}

.ulnav2 {
  width: 28%;
  flex-grow: 1;
  height: 200px;
  padding-right: 20px; 
  padding-top: 40px;  
}  */

/* ---------------------------------------------------- */
/* Main content  */
/* cajas pastas con precios*/

.pastas {
  height: 844px;
}

.pastas__section1 {
  display: flex;
  justify-content: space-around;
}
.pastas__section2 {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.pasta__box {
  width: 257px;
  height: 386px;
  position: relative;
}

.pasta__box3res {
  display: none;
}
.pasta__box1res {
  display: none;
}

.pasta__box-precio {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  opacity: 0;
  background: rgb(0, 9, 13);
  background: linear-gradient(
    180deg,
    rgba(0, 9, 13, 0) 0%,
    rgba(133, 137, 139, 0.4990371148459384) 67%,
    rgba(255, 255, 255, 0.685) 100%
  );
  transition: all 1s;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  flex-direction: column;
}

.pasta__box-precio:hover {
  opacity: 1;
}

.pasta__box-precio h3 {
  margin: 10px;
  font-size: 26px;
}

.precio p {
  margin: 10px 5px 10px 10px;
  display: inline-block;
}
.precio p s {
  background-color: rgb(236, 87, 87);
}
/*-----------------------------------------------------------------------*/
/* Pedidos */

.pedidos {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: top;
  border-radius: 20px;
}

.pedidos__title {
  position: absolute;
  top: -48px;
  left: calc(50% - 49px);
}

.pedidos__icons {
  padding-bottom: 40px;
  width: 96%;
  margin: 0 auto;
  height: 390px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  border-radius: 20px;
  border: #ad8350 solid 1px;
  background: url(img/logos/Line.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 90px;
  background-color: #d3f1eb;
}

.icons {
  height: 159px;
  width: 159px;
  margin-top: 30px;
}
.icons h3 {
  text-align: center;
}
/* --------------------------map--------------------------------- */
.map {
  display: flex;
  justify-content: space-around;
  width: 86%;
  margin: auto;
  margin-top: 60px;
}
.map__google {
  border: #ad8350 solid 3px;
  height: 452px;
}
.map__text {
  width: 50%;
  text-align: center;
  margin: 78px 20px;
  border: 1px solid #ad8350;
  padding: 20px;
  background-color: #d3f1eb;
}
.map__text h3 {
  font-size: 25px;
}
.map__text p {
  font-size: 18px;
}

/* -------------------------Footer--------------------------------------- */

.footer {
  height: 270px;
  background-color: #000;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  justify-content: space-around;
}

.footer__list h3 {
  color: white;
  font-size: 25px;
  text-align: start;
  margin: 10px;
}
.footer__list ul {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style: none;
  padding-left: 10px;
  font-size: 15px;
}

.footer__list ul li {
  padding-bottom: 4px;
  text-decoration: none;
}

.footer__list li a {
  text-decoration: none;
  color: white;
}
.footer__list label textarea {
  padding: 0;
  background-color: #ccc;
  border-radius: 20px;
  transition: all 1s;
}
.footer__list label textarea:focus {
  padding: 0;
  background-color: #fff;
  border-radius: 0;
  outline: solid 2px #ad8350;
}

.footer__img img {
  object-fit: contain;
}

.footer__img-res {
  display: none;
}
